$body-background-color: $grey-lt-000;
$sidebar-color: $grey-lt-100;
$border-color: $grey-lt-200;

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;
$nav-child-link-color: $grey-dk-200;
$search-result-preview-color: $grey-dk-000;

$link-color: $red-200;
$btn-primary-color: $red-300;
$base-button-color: $grey-lt-000;

$code-background-color: $grey-lt-100;
$search-background-color: $grey-lt-000;
$table-background-color: $grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);
